<div *ngIf="loading" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<div
  *ngIf="!loading && allUserOrdersProducts.length === 0"
  class="noOrder"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <h2>Il n'y a eu aucune commande ce mois-ci pour ce client.</h2>
</div>
<mat-card
  *ngIf="!loading && allUserOrdersProducts.length > 0"
  class="m-card"
  id="prodRecapCard"
>
  <mat-card-title
    class="m-card-title"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <h2>Produits commandés par John Doe en {{ month }}</h2>
  </mat-card-title>
  <mat-card-content>
    <app-list-recap-products
      [allUserOrdersProducts]="allUserOrdersProducts"
    ></app-list-recap-products>
  </mat-card-content>
</mat-card>
