:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 3rem;
}

.goBack {
  margin-right: 4rem;
  color: var(--color-app-brown);
  cursor: pointer;
}

.mat-icon {
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

mat-card {
  margin: 1rem;
}

.mat-card-title {
  font-size: 2rem;
  color: var(--color-app-brown) !important;
}

.address {
  font-size: 1.3rem;
}

.productElem {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.productTitle {
  margin-top: 3rem !important;
}

pre {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}
