<div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div
  class="noOrder"
  fxLayout="row"
  fxLayoutAlign="center center"
  *ngIf="!loading && allUserOrdersProducts.length === 0"
>
  <h2>Vous n'avez passé aucune commande le mois dernier.</h2>
</div>
<mat-card
  *ngIf="!loading && allUserOrdersProducts.length > 0"
  id="prodRecapCard"
  class="m-card"
>
  <mat-card-title
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    class="m-card-title"
  >
    <h2>Produits commandés en {{ month }}</h2>
  </mat-card-title>
  <mat-card-content>
    <app-list-recap-products
      [allUserOrdersProducts]="allUserOrdersProducts"
    ></app-list-recap-products>
  </mat-card-content>
</mat-card>
