@import "abstracts/variables";
@import "abstracts/mixins";

:host {
    /* Sets the sticky toolbar to be on top */
    position: sticky;
    /* For macOS/iOS Safari */
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
}

#header {
    background-color: $color-app-brown-grey;
    border-bottom: solid 1px black;

    color: $color-app-light-grey;
    text-shadow: 1px 1px 0 black;

    @include for-phone-only {
        min-height: 6rem;
    }

    @include for-tablet-landscape-up {
        min-height: 14rem;
    }

}

ul {
    list-style-type: none;
}

.logo-header {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 6rem;
    cursor: pointer;

    @include for-tablet-landscape-only {
        margin-top: 0;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    @include for-desktop-up {
        margin-top: 0;
        margin-left: 2vw;
        margin-right: 15vw;
    }
}

#logoutHeader {
    margin-right: 2vw;
}

#mobileMenuButton {
    position: fixed;
    right: 5vw;
}