<h2>Conditions Générales d’utilisation</h2>
<p>
  Nous utilisons des liens de tracking Google. Nous stockons des cookies de
  navigations ainsi que les données utilisateur nécessaires au fonctionnement du
  site : informations de navigations, fonctionnalités annexes, et de
  localisation. Nous sommes susceptibles d’afficher des pubs, et des pubs
  ciblées par Google.
</p>

<h3>Article 1 : Objet</h3>
<p>
  Les présentes CGU ou Conditions Générales d’Utilisation encadrent
  juridiquement l’utilisation des services du site boulangerie-m.web.app
  (ci-après dénommé « le site »). Constituant le contrat entre la société Michon
  et l’Utilisateur.
</p>
<h3>Article 2 : Mentions légales</h3>
<p>
  L’édition du site boulangerie-m.web.app est assurée par la société Michon,
  Siret n°80886630500010, dont le siège social est localisé au 127 avenue du
  Lieutenant Colonel Bernier, 17 000 La Rochelle. L’hébergeur du site
  boulangerie-m.web.app est la société Google France, sise au 8 rue de Londres,
  75009 Paris, France.
</p>
<h3>Article 3 : Accès au site</h3>
<p>
  Le site boulangerie-m.web.app permet d’accéder gratuitement aux services
  suivants : – Affichage des articles – Mise en place du panier. Le site est
  accessible gratuitement depuis n’importe où par tout utilisateur disposant
  d’un accès à Internet (sauf restriction par des pares-feux nationaux). Tous
  les frais nécessaires pour l’accès aux services (matériel informatique,
  connexion, internet…) sont à la charge de l’Utilisateur. L’accès au portail
  dédié aux administrateurs s’effectue à l’aide d’un identifiant et d’un mot de
  passe. Pour des raisons de maintenance ou autres, l’accès au site peut être
  interrompu ou suspendu par l’éditeur sans préavis ni justification.
</p>
<h3>Article 4 : Collecte des données</h3>
<p>
  Conformément à la loi n°78-17 du 6 janvier relative à l’informatique, aux
  fichiers et aux libertés, la collecte et le traitement d’informations
  personnelles s’effectuent dans le respect de la vie privée. La liste des
  données collectées : Adresse postale – Numéro de téléphone – Contenu du panier
  – Commandes finalisées et en cours. Suivant la loi Informatique et Libertés en
  date du 6 janvier 1978, articles 39 et 40, l’Utilisateur dispose du droit
  d’accéder, de rectifier, de supprimer et d’opposer ses données personnelles.
  L’exercice de ce droit s’effectue par une demande à cette adresse mail :
  boulangerie.m17@gmail.com (informations disponibles ici).
</p>
<h3>Article 5 : Propriété intellectuelle</h3>
<p>
  Les marques, logos ainsi que les contenus du site boulangerie-m.web.app
  (illustrations graphiques, textes…) sont protégés par le Code de la propriété
  intellectuelle et par le droit d’auteur. La reproduction et la copie des
  contenus par l’Utilisateur requièrent une autorisation préalable du site. Dans
  ce cas, toute utilisation à des usages commerciaux ou à des fins publicitaires
  est proscrite.
</p>
<h3>Article 6 : Responsabilité</h3>
<p>
  Le site décline toute responsabilité concernant les éventuels attaques,
  failles et fichiers informatiques pouvant infecter le matériel de
  l’utilisateur après l’utilisation ou l’accès à ce site. Le site ne peut être
  tenu pour responsable en cas de force majeure ou du fait imprévisible et
  insurmontable d’un tiers. La garantie totale de la sécurité et la
  confidentialité des données n’est pas assurée par le site. Cependant, le site
  s’engage à mettre en œuvre toutes les méthodes requises pour le faire au
  mieux.
</p>
<h3>Article 7 : Liens hypertextes</h3>
<p>
  Le site peut être constitué de liens hypertextes. En cliquant sur ces
  derniers, l’Utilisateur sortira de la plateforme. Cette dernière n’a pas de
  contrôle et ne peut pas être tenue responsable du contenu des pages web
  relatives à ces liens. Des liens dit « affiliés » peuvent être présents sur le
  site. Un lien affilié ou d’affiliation est une URL spécifique utilisée par un
  affilié pour pointer vers une offre ou un produit d’un marchand. Il est
  possible, à la suite d’un achat ou de la navigation par l’Utilisateur sur le
  site d’affiliation, qu’une commission soit versée à destination de la société
  éditrice.
</p>
<h3>Article 8 : Cookies</h3>
<p>
  Lors des visites sur le site, l’installation automatique d’un cookie sur le
  logiciel de navigation de l’Utilisateur peut survenir. Les cookies
  correspondent à de petits fichiers déposés temporairement sur le disque dur de
  l’ordinateur de l’Utilisateur. Ces cookies sont nécessaires pour assurer
  l’accessibilité et la navigation sur le site. Ces fichiers ne comportent pas
  d’informations personnelles et ne peuvent pas être utilisés pour
  l’identification d’une personne. L’information présente dans les cookies est
  utilisée pour améliorer les performances de navigation sur le site
  boulangerie-m.web.app. En naviguant sur le site, l’Utilisateur accepte les
  cookies. Leur désactivation peut s’effectuer via les paramètres du logiciel de
  navigation.
</p>
<h3>Article 9 : Durée du contrat</h3>
<p>
  Le présent contrat est valable pour une durée indéterminée. Le début de
  l’utilisation des services du site marque l’application du contrat à l’égard
  de l’Utilisateur.
</p>
<h3>Article 10 : Droit applicable et juridiction compétente</h3>
<p>
  Le présent contrat est soumis à la législation française. Dans un premier
  temps, la résolution d’éventuels litiges entre les parties se fait à
  l’amiable. En cas d’absence de résolution à l’amiable, le recours aux
  tribunaux français compétents pour régler le contentieux s’impose.
</p>

<h3>Sources des ressources graphiques présentes sur le site</h3>
<div>
  Arrière plan:
  <a class="bkgrdLink" href="https://www.freepik.com/vectors/background"
    >Background vector created by freepik - www.freepik.com</a
  >
  <div>
    Icônes:
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
      >Freepik</a
    >
    from
    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>
</div>
