<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Quels jours fermer?</h1>
</div>
<mat-card class="m-card">
  <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
      <mat-label>Sélectionner une période</mat-label>
      <mat-date-range-input [formGroup]="closedDaysForm" [rangePicker]="picker">
        <input
          formControlName="startingDate"
          matStartDate
          placeholder="Date de début"
          required
        />
        <input
          formControlName="endingDate"
          matEndDate
          placeholder="Date de fin"
          required
        />
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error
        *ngIf="
          closedDaysForm.controls.startingDate.hasError('matStartDateInvalid')
        "
        >Invalid start date
      </mat-error>
      <mat-error
        *ngIf="
          closedDaysForm.controls.startingDate.hasError('matEndDateInvalid')
        "
        >Invalid end date
      </mat-error>
    </mat-form-field>
    <div fxFlex="100" fxLayoutAlign="center center">
      <button
        (click)="onSubmit()"
        aria-label="Bouton de validation de choix de jours fermés"
        mat-fab
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="m-card">
  <mat-card-title
    class="m-card-title"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <h2>Jours de fermeture à venir</h2>
  </mat-card-title>
  <mat-card-content>
    <mat-list
      *ngIf="allClosingDaysToHuman.length > 0; else noClosingDates"
      role="list"
    >
      <mat-list-item
        *ngFor="let dates of allClosingDaysToHuman"
        role="listitem"
      >
        <div
          fxFlex="100"
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
        >
          <p
            *ngIf="dates.endingDate; else oneDayClosing"
            class="closedDayListElem"
            fxFlex="80"
          >
            - Du {{ dates.startingDate | date: "fullDate" }} au
            {{ dates.endingDate | date: "fullDate" }}
          </p>
          <ng-template #oneDayClosing>
            <p class="closedDayListElem">
              - Le {{ dates.startingDate | date: "fullDate" }}
            </p>
          </ng-template>
          <div fxFlex="20" fxLayoutAlign="flex-end center">
            <button
              (click)="deleteClosingDays(dates.rangeId)"
              aria-label="Supprimer les jours de fermeture"
              color="warn"
              mat-mini-fab
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>

    <ng-template #noClosingDates>
      <h2>Aucun jours de fermeture prévus</h2>
    </ng-template>
  </mat-card-content>
</mat-card>
