@import "abstracts/variables";
@import "abstracts/mixins";

#cardInfosPerso {
    @include for-tablet-landscape-up {
        margin-top: 2.5rem;
    }
}

mat-card {
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    text-align: center;
    text-decoration: underline;
}


.h3InfosPerso {
    color: $color-app-brown;
    margin-bottom: 0.5rem;
}

#cardModifInfos {
    margin-top: 2.5rem;
}

#importantInformation {
    color: crimson;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;

    @include for-tablet-landscape-up {
        font-size: 2rem;
    }
}

#differentAddress {
    color: $color-app-brown;
}

#deliveryAddress {
    margin-top: 2rem;
}

#cancelButton {
    @include for-tablet-landscape-down {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}

.updateInfosButton {
    margin-top: 2rem;
    margin-bottom: 2rem;
}