<!-- <p>order-form works!</p>
{{ productList$ | async | json }} -->
<div class="container-fluid" [formGroup]="orderForm">
  <div class="row start-xs start-sm start-md start-lg">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <mat-form-field appearance="outline">
        <mat-label>Nom de votre entreprise</mat-label>
        <input
          matInput
          placeholder="Ex: Restaurant du port"
          formControlName="name"
          required
        />
        <mat-error *ngIf="orderForm.get('name')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <mat-form-field appearance="outline">
        <mat-label>Numéro de téléphone</mat-label>
        <input
          matInput
          placeholder="Ex: 0546331122"
          formControlName="phone"
          required
        />
        <mat-error *ngIf="orderForm.get('phone')?.invalid">{{
          getErrorMessage("phone")
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row start-xs start-sm start-md start-lg">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <mat-form-field appearance="outline">
        <mat-label>Rue</mat-label>
        <input
          matInput
          placeholder="Ex: 2 rue du port"
          formControlName="street"
          required
        />
        <mat-error *ngIf="orderForm.get('street')?.invalid">{{
          getErrorMessage("street")
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row start-xs start-sm start-md start-lg">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <mat-form-field appearance="outline">
        <mat-label>Code postal</mat-label>
        <input
          matInput
          placeholder="Ex: 17000"
          formControlName="zipCode"
          required
        />
        <mat-error *ngIf="orderForm.get('zipCode')?.invalid">{{
          getErrorMessage("zipCode")
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <mat-form-field appearance="outline">
        <mat-label>Ville</mat-label>
        <input
          matInput
          placeholder="Ex: La Rochelle"
          formControlName="city"
          required
        />
        <mat-error *ngIf="orderForm.get('city')?.invalid">{{
          getErrorMessage("city")
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>

<!-- Un champ “Nom de l’entreprise” obligatoire
Un champ numéro de téléphone obligatoire nécessitant 10 chiffres
Un champ adresse obligatoire
Un champ code postal obligatoire
Un champ Ville obligatoire
Un bouton “adresse de livraison différente”
Si cliqué, affiche un autre formulaire d’adresse pour la livraison (adresse, CP, ville)
Un calendrier afin de spécifier le créneau de retrait désiré avec le comportement suivant: -->
