::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-checkbox-inner-container {
  background-color: white;
}

.buttonRow {
  margin-top: 3rem;
}
