<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="container">

  <!--TODO: A SUPPRIMER DANS LA V2, CES DONNES SERONT A INJECTER DANS LE POST VIA LE USER CONNECTE++++++++++++++++++++++++++++++++++++++++++-->
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly space-evenly">
    <mat-form-field fxFlex="40" fxFlex.lt-sm="87" appearance="outline">
      <mat-label>Nom de votre entreprise</mat-label>
      <input matInput type="text" placeholder="Ex: Restaurant du port" formControlName="name" required />
      <mat-error *ngIf="orderForm.get('name')?.invalid">{{
        getErrorMessage("name")
        }}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="40" fxFlex.lt-sm="87" appearance="outline">
      <mat-label>Numéro de téléphone</mat-label>
      <input matInput type="tel" placeholder="Ex: 0546331122" formControlName="phone" required />
      <mat-error *ngIf="orderForm.get('phone')?.invalid">{{
        getErrorMessage("phone")
        }}</mat-error>
    </mat-form-field>
  </div>
  <div formGroupName="address">
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field fxFlex="87" appearance="outline">
        <mat-label>Rue</mat-label>
        <input matInput type="text" placeholder="Ex: 2 rue du port" formControlName="street" required />
        <mat-error *ngIf="orderForm.get('address')?.get('street')?.invalid">{{
          getErrorMessage("street", "address")
          }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly space-evenly">
      <mat-form-field fxFlex="40" fxFlex.lt-sm="87" appearance="outline">
        <mat-label>Code postal</mat-label>
        <input matInput type="text" placeholder="Ex: 17000" formControlName="zipCode" required />
        <mat-error *ngIf="orderForm.get('address')?.get('zipCode')?.invalid">{{
          getErrorMessage("zipCode", "address")
          }}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="40" fxFlex.lt-sm="87" appearance="outline">
        <mat-label>Ville</mat-label>
        <input matInput type="text" placeholder="Ex: La Rochelle" formControlName="city" required />
        <mat-error *ngIf="orderForm.get('address')?.get('city')?.invalid">{{
          getErrorMessage("city", "address")
          }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" class="checkboxRow" fxLayoutAlign="flex-start center">
    <mat-checkbox fxFlexOffset="7" (change)="hasDifferentDeliveryAddress($event.checked)"
      formControlName="hasDifferentDeliveryAddress">Adresse de livraison différente</mat-checkbox>
  </div>
  <div formGroupName="deliveryAddress" *ngIf="displayDeliveryForm">
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field fxFlex="87" appearance="outline">
        <mat-label>Rue</mat-label>
        <input matInput type="text" placeholder="Ex: 2 rue du port" formControlName="street" required />
        <mat-error *ngIf="orderForm.get('deliveryAddress')?.get('street')?.invalid">{{ getErrorMessage("street",
          "address") }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly space-evenly">
      <mat-form-field fxFlex="40" fxFlex.lt-sm="87" appearance="outline">
        <mat-label>Code postal</mat-label>
        <input matInput type="text" placeholder="Ex: 17000" formControlName="zipCode" required />
        <mat-error *ngIf="orderForm.get('deliveryAddress')?.get('zipCode')?.invalid">{{ getErrorMessage("zipCode",
          "address") }}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="40" fxFlex.lt-sm="87" appearance="outline">
        <mat-label>Ville</mat-label>
        <input matInput type="text" placeholder="Ex: La Rochelle" formControlName="city" required />
        <mat-error *ngIf="orderForm.get('deliveryAddress')?.get('city')?.invalid">{{ getErrorMessage("city", "address")
          }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <div fxLayout="row wrap" fxLayoutAlign="flex-start center">
    <mat-form-field fxFlexOffset="7" fxFlex="40" fxFlex.lt-sm="87" appearance="outline" (click)="picker.open()">
      <mat-label>Date de livraison</mat-label>
      <input matInput required formControlName="deliveryDate" [min]="tomorrow" [matDatepicker]="picker"
        [matDatepickerFilter]="isItOpenToday" readonly />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi></mat-datepicker>
      <mat-error *ngIf="orderForm.get('deliveryDate')?.invalid">{{
        getErrorMessage("deliveryDate")
        }}</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" class="checkboxRow" fxLayoutAlign="flex-start center">
    <mat-checkbox fxFlexOffset="7" (change)="specificDeliveryTime($event.checked)" [checked]="selectDeliveryTime">Besoin
      d'une heure de livraison précise?</mat-checkbox>
    <div *ngIf="selectDeliveryTime" fxFlexOffset="7" fxFlexOffset.gt-md="12" fxFlex="40" fxFlex.lt-sm="87">
      <mat-form-field appearance="outline">
        <mat-label>Heure de livraison</mat-label>
        <input [ngxTimepicker]="$any(datePicker)" min="06:00" max="12:00" [format]="24" readonly matInput
          formControlName="deliveryTime" />
        <ngx-material-timepicker #datePicker></ngx-material-timepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <p class="deliveryMessage" *ngIf="showDeliveryMessage">
      Votre livraison vous sera livrée à l'adresse renseignée le
      {{ orderForm.get("deliveryDate")?.value | date: "fullDate" }}
      {{
      this.orderForm.get("deliveryTime")?.value
      ? "à " + this.orderForm.get("deliveryTime")?.value
      : "entre 6 heures et midi."
      }}
    </p>
    <p class="warningMessage" *ngIf="showShortDeliveryMessage || showOrderNeedValidationMessage">
      <span> Attention, dû au délai court de votre commande: </span>
      <span *ngIf="showOrderNeedValidationMessage">
        <br />&nbsp;&nbsp;- Elle devra être validée par la boulangerie M.
        <span id="importantSentence">Sans retour de leur part dans l'heure, considérez la comme
          annulée.</span>
      </span>
      <span *ngIf="showShortDeliveryMessage">
        <br />&nbsp;&nbsp;- Certains produits ne sont pas disponibles. Ils ont
        été désactivés dans le formulaire.
      </span>
    </p>
  </div>
  <!-- Bloc produits ----------------------------------------------------------------------------- -->
  <h2>Produits</h2>
  <div *ngIf="!productList.length; else productContainer">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-template #productContainer>
    <app-collapse class="mx-4" collapseTitle="{{ category.value }}" collapseId="{{category.key}}"
      *ngFor="let category of PRODUCTCATEGORY | keyvalue">
      <!-- FIXME: le bg-secondary fonctionne pas -->
      <div class="d-flex flex-row flex-wrap">
        <app-card *ngFor="let product of filterProductByCategory(category.value)" class="col col-md-6 col-lg-4"
          [ngClass]="{'bg-secondary': showShortDeliveryMessage && !product.shortDelivery}">
          <div card-header data-bs-toggle="collapse" attr.data-bs-target="#product-{{product.productId}}"
            aria-expanded="false" attr.aria-controls="product-{{product.productId}}">
            {{ product.name }}
          </div>
          <div card-body>
            <div class="collapse" id="product-{{product.productId}}">
              <p>{{ product.description }}</p>
              <div [formGroup]="commentFormGroup">
                <label for="productComment" class="form-label">Commentaire</label>
                <textarea type="text" [formControlName]="product.name" id="productComment" class="form-control"
                  aria-describedby="productComment" placeholder="Ex: boules tranchées, forme des pains, ..."></textarea>
              </div>
              <div class="form-check" [formGroup]="sliceFormGroup" *ngIf="product.isSliceable">
                <input class="form-check-input" type="checkbox" id="sliced-{{product.productId}}"
                  [formControlName]="product.name">
                <label class="form-check-label" for="sliced-{{product.productId}}">
                  Tranché
                </label>
              </div>
            </div>
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
              Prix: {{ product.price.toFixed(2) }} € H.T. / {{ product.unit }}
              <div [formGroup]="itemFormGroup" id="quantityInput">
                <label for="quantity-{{product.productId}}" class="form-label sr-only">Quantité</label>
                <input type="number" class="form-control" id="quantity-{{product.productId}}" min="0"
                  [formControlName]="product.name" placeholder="Quantité">
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </app-collapse>
  </ng-template>

  <!-- ---------------------------------------------------------------------------------------------- -->
  <div>
    <label for="orderComment" class="form-label">Commentaires</label>
    <textarea class="form-control" formControlName="orderComment" id="orderComment" rows="3"
      placeholder="Ex: Déposer la livraison en arrière cuisine, ...">
    </textarea>
  </div>
  <!-- Bloc résumé de la commande --------------------------------------------------------------------->
  <div *ngIf="orderForm.get('totalPrice')?.value > 0">
    <h2>Résumé de la commande :</h2>
    <p *ngFor="let item of orderSummary | summaryPipe" [innerHtml]="item"></p>
    <h3 *ngIf="orderForm.get('orderComment')?.value">
      Commentaire de la commande :
    </h3>
    <p *ngIf="orderForm.get('orderComment')?.value">
      <!-- <pre>
        {{ orderForm.get("orderComment")?.value }} 
      </pre> -->
    </p>
    <h2>Prix total :</h2>
    <h2>
      {{ orderForm.get("totalPrice")?.value.toFixed(2) }} € H.T.
    </h2>
  </div>
  <!---------------------------------------------------------------------------------------------------->
  <button type="button" class="btn btn-warning" type="submit">Commander</button>
</form>