<form (ngSubmit)="onSubmit()" [formGroup]="orderForm">
  <h1>Commande professionnelle</h1>
  <p id="delayMessage">
    Compte tenu de nos méthodes de production, toute commande doit être passée
    <span>l'avant-veille</span> du jour de livraison (jours ouvrés
    uniquement).<br />
    Exemple : pour une livraison le mercredi, dernier délai le lundi à 18h.
  </p>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-sm="flex-start center"
  >
    <mat-form-field
      (click)="picker.open()"
      appearance="outline"
      fxFlex="40"
      fxFlex.lt-sm="100"
    >
      <mat-label>Date de livraison</mat-label>
      <input
        [matDatepickerFilter]="isItOpenToday"
        [matDatepicker]="picker"
        [min]="minimalDay"
        formControlName="deliveryDate"
        matInput
        readonly
        required
      />
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi></mat-datepicker>
      <mat-error *ngIf="orderForm.get('deliveryDate')?.invalid">{{
        getErrorMessage("deliveryDate", orderForm, errorMessages)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-sm="flex-start center"
    id="checkboxRow"
  >
    <mat-checkbox
      (change)="specificDeliveryTime($event.checked)"
      [checked]="selectDeliveryTime"
    >
      Besoin d'une heure de livraison précise?
    </mat-checkbox>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-sm="flex-start center"
  >
    <mat-form-field
      *ngIf="selectDeliveryTime"
      appearance="outline"
      fxFlex="40"
      fxFlex.lt-sm="100"
    >
      <mat-label>Heure de livraison</mat-label>
      <input
        [format]="24"
        [ngxTimepicker]="$any(datePicker)"
        formControlName="deliveryTime"
        matInput
        max="12:00"
        min="06:00"
        readonly
      />
      <ngx-material-timepicker #datePicker></ngx-material-timepicker>
    </mat-form-field>
  </div>
  <p id="deliveryMessage">
    Votre commande vous sera livrée
    <span *ngIf="orderForm.get('deliveryDate')?.value">
      le
      {{ orderForm.get("deliveryDate")?.value | date: "fullDate" }} </span
    >{{
      this.orderForm.get("deliveryTime")?.value
        ? "à " + this.orderForm.get("deliveryTime")?.value
        : "entre 6 heures et midi."
    }}
  </p>
  <mat-divider class="dividerOrderForm"></mat-divider>
  <h2>Produits</h2>
  <div
    *ngIf="!productList.length; else productContainer"
    fxLayoutAlign="center center"
  >
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #productContainer>
    <mat-expansion-panel
      *ngFor="let category of PRODUCTCATEGORY | keyvalue"
      class="productCategory"
    >
      <mat-expansion-panel-header class="categoryExpansionHeader">
        <mat-panel-title>{{
          findProductCategoryWording(category.value)
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div
        fxLayout="column"
        fxLayout.gt-sm="row wrap"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-sm="space-evenly center"
      >
        <mat-card
          *ngFor="let product of filterProductByCategory(category.value)"
          fxFlex.gt-sm="48"
        >
          <mat-expansion-panel class="productExpansion">
            <mat-expansion-panel-header class="productExpansionHeader">
              <mat-panel-title [ngClass]="product.isBio ? 'is-bio' : ''"
                >{{ product.name }}<span></span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="productExpansionBody" fxFlex="column">
              <p>{{ product.description }}</p>
              <mat-form-field
                [formGroup]="commentFormGroup"
                appearance="outline"
              >
                <mat-label>Commentaire</mat-label>
                <textarea
                  [formControlName]="product.name"
                  matInput
                  placeholder="Ex: boules tranchées, forme des pains, ..."
                ></textarea>
              </mat-form-field>
              <div *ngIf="product.isSliceable" [formGroup]="sliceFormGroup">
                <mat-checkbox
                  [formControlName]="product.name"
                  class="slicedCheckbox"
                  >Tranché
                </mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-card-content
            class="cardPriceQuantity m-card-content"
            fxLayout="row"
            fxLayoutAlign="space-between baseline"
          >
            <div>
              Prix: {{ product.price.toFixed(2) }} € H.T. /
              {{
                product.unit === PRODUCTUNIT.KG
                  ? PRODUCTUNITWORDING.KG
                  : PRODUCTUNITWORDING.UNIT
              }}
            </div>
            <mat-form-field
              [formGroup]="itemFormGroup"
              appearance="outline"
              class="quantityInput"
            >
              <mat-label>Quantité</mat-label>
              <input
                [formControlName]="product.name"
                matInput
                min="0"
                type="number"
              />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </ng-template>
  <mat-divider class="dividerOrderForm"></mat-divider>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-sm="flex-start center"
  >
    <mat-form-field appearance="outline" fxFlex="40" fxFlex.lt-sm="100">
      <mat-label>Commentaires</mat-label>
      <textarea
        formControlName="orderComment"
        matInput
        placeholder="Ex: Déposer la livraison en arrière cuisine, ..."
      ></textarea>
    </mat-form-field>
  </div>
  <div
    *ngIf="orderForm.get('totalPrice')?.value > 0"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h2>Résumé de la commande :</h2>
    <div>
      <p *ngFor="let item of orderSummary | summaryPipe" [innerHtml]="item"></p>
    </div>
    <h3
      *ngIf="orderForm.get('orderComment')?.value"
      class="orderCommentSummaryTitle"
    >
      Commentaire de la commande :
    </h3>
    <pre *ngIf="orderForm.get('orderComment')?.value">
      {{ orderForm.get("orderComment")?.value }}
    </pre>
    <h2>Prix total :</h2>
    <h3>{{ orderForm.get("totalPrice")?.value.toFixed(2) }} € H.T.</h3>
  </div>
  <div class="buttonRow" fxLayout="row wrap" fxLayoutAlign="center center">
    <button fxFlex="40" fxFlex.lt-sm="87" mat-raised-button type="submit">
      Commander
    </button>
  </div>
</form>
