form {
  padding: 3rem 0 3rem 0;
  @media (max-width: 768px) {
    padding: 5rem 0 3rem 0;
  }
}
.checkboxRow {
  margin-bottom: 1rem;
}

.buttonRow {
  margin-top: 3rem;
}

.deliveryMessage {
  color: var(--color-app-brown);
  font-weight: bold;
  @media (max-width: 768px) {
    text-align: center;
  }
}
.warningMessage {
  color: crimson;
  @media (max-width: 768px) {
    text-align-last: center;
  }
}

#importantSentence {
  text-decoration: underline;
  font-weight: bold;
}

::ng-deep ngx-material-timepicker-container {
  --button-color: var(--color-app-brown) !important;
  --dial-background-color: var(--color-app-brown) !important;
  --clock-hand-color: var(--color-app-brown) !important;
}
//*** CUSTOM ACCORDION PRODUCT CATEGORY
.productCategory {
  background-color: var(--color-app-light-grey);
  .mat-card:first-child {
    margin-top: 3rem;
  }
  @media (min-width: 600px) {
    .mat-card:nth-child(2) {
      margin-top: 3rem;
    }
  }
}

.productCategoryHeader {
  background-color: white;
  max-height: 4rem;
}
//***

//*** CUSTOM CARD PRODUCT STYLE
mat-card {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
mat-card-content {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.productExpansion:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
.productExpansionHeader {
  padding: 0 5px 0 0;
  font-size: 1.5rem;
  margin: 0;
  height: 2.5rem;
}
.mat-expansion-panel-header-title {
  color: var(--color-app-brown) !important;
}
::ng-deep .mat-expansion-panel-body {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.3rem;
  padding: 0 !important;
  > p {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0 0 0.8rem 1rem !important;
  }
}

.quantityInput {
  max-width: 9rem;
}
:host ::ng-deep .quantityInput div.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
:host ::ng-deep .quantityInput div.mat-form-field-infix {
  padding: 0;
  border: 0;
  input {
    height: 3rem;
  }
}
.unavailableItem {
  background-color: rgba(128, 128, 128, 0.2);
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgba(128, 128, 128, 0);
  }
  .mat-expansion-panel {
    background-color: rgba(128, 128, 128, 0);
  }
}
/***********************************/
