@import "abstracts/mixins";

#ordersListCard {
    @include for-tablet-landscape-up {
        margin-top: 2.5rem;
    }
}

// TODO: revoir cet espacement au niveau global ( layout global pour tout sauf le form?)
mat-card {
    margin-left: 2rem;
    margin-right: 2rem;
}

h1,
h2 {
    text-align: center;
}

h1 {
    text-decoration: underline;
}

/*****************************/

#canceledOrder {
    padding-left: 1rem;
    color: crimson;
}

#orderContainer {
    margin-bottom: 2rem;
}

mat-expansion-panel-header.userOrder {
    height: 7rem;

    @include for-tablet-landscape-up {
        height: 5rem;
    }
}

mat-card-content.orderDetail {
    margin: 2rem;
}

h3 {
    margin-top: 2rem;
}

// TODO: style global en utilisant MAT LIST UL LI (repasser partout ou il y a des listes pour refacto
ul {
    padding-left: 2rem;
}

.cancelButton {
    @include for-tablet-landscape-down {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}