<!-- TODO: externaliser dans un header component (cf la branche stale sur github)-->
<mat-toolbar-row class="header" fxLayout="row wrap" fxLayoutAlign="flex-start center"
  fxLayoutAlign.lt-sm="center center">
  <div fxFlex="20" fxHide.lt-sm (click)="router.navigate([''])">
    <img alt="logo boulangerie-m" src="../assets/images/logo-header.png" class="logo-header link" />
  </div>
  <div *ngIf="!isConnected" fxFlex="60" fxHide.lt-sm>
    Plateforme de commande réservée aux professionnels
  </div>
  <div *ngIf="isConnected" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxFlex="80" fxHide.lt-sm>
    <!-- TODO: revoir les divs avec des classes link... -->
    <div class="link" (click)="router.navigate([''])">Formulaire</div>
    <div class="link" (click)="router.navigate(['admin/liste-commandes'])">
      Commandes
    </div>
    <div class="link" (click)="router.navigate(['admin/recap-production'])">
      Production
    </div>
    <div class="link" (click)="router.navigate(['admin/produits'])">
      Produits
    </div>
    <div class="link" (click)="router.navigate(['admin/gestion-fermeture'])">
      Jours fermés
    </div>
    <div class="link logoutHeader" fxLayoutAlign="center center" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Se déconnecter</span>
    </div>
  </div>
  <!-- Mobile menu -------------------------------------------->
  <div *ngIf="isConnected" fxHide.gt-xs fxFlex.lt-sm="10"></div>
  <div fxHide.gt-xs fxFlex.lt-sm="80" (click)="router.navigate([''])">
    <img alt="logo boulangerie-m" src="../assets/images/logo-header.png" class="logo-header link" />
  </div>
  <button *ngIf="isConnected" class="mobileMenuButton" fxHide.gt-xs fxFlex.lt-sm="10" mat-icon-button
    [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button *ngIf="!activatedRoute.includes('liste')" mat-menu-item
      (click)="router.navigate(['admin/liste-commandes'])">
      <mat-icon>shopping_basket</mat-icon>
      <span>Commandes</span>
    </button>
    <button *ngIf="!activatedRoute.includes('production')" mat-menu-item
      (click)="router.navigate(['admin/recap-production'])">
      <mat-icon>supervisor_account</mat-icon>
      <span>Production</span>
    </button>
    <button *ngIf="!activatedRoute.includes('produits')" mat-menu-item (click)="router.navigate(['admin/produits'])">
      <mat-icon>fastfood</mat-icon>
      <span>Produits</span>
    </button>
    <button *ngIf="!activatedRoute.includes('fermeture')" mat-menu-item
      (click)="router.navigate(['admin/gestion-fermeture'])">
      <mat-icon>event_busy</mat-icon>
      <span>Fermeture</span>
    </button>
    <button *ngIf="activatedRoute.includes('admin')" mat-menu-item (click)="router.navigate(['/'])">
      <mat-icon>list</mat-icon>
      <span>Formulaire</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Se déconnecter</span>
    </button>
  </mat-menu>
</mat-toolbar-row>
<!-- ----------------------------------------------- -->
<div class="container-page">
  <router-outlet (activate)="onActivate()"></router-outlet>
</div>
<app-footer></app-footer>