:host {
  display: flex;
  flex: 1;
  justify-content: center;

  background-image: url("./../assets/images/background/bakery-background.jpg");
  background-position: center;
  background-size: cover;
  background-color: var(--color-app-light-grey);
}

.container-page {
  flex: 1;
  flex-direction: column;
  max-width: 90rem;
  max-height: 100vh;
  background-color: var(--color-app-light-grey);
  align-self: center;
  overflow: auto;
}

.bkgrdLink {
  position: fixed;
  left: -100rem;
}
