@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-page {
  flex: 1;
  max-width: $global-container-width;
  width: 100%;
  background-color: $color-app-light-grey;
  align-self: center;
  padding-bottom: 6rem;

  @include for-tablet-landscape-down {
    margin-top: 6rem;
  }
}