<div *ngIf="loading" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<mat-card class="m-card">
  <mat-card-title class="m-card-title">
    <h2>Récapitulatif mensuel de commandes</h2>
  </mat-card-title>
  <mat-card-content>
    <mat-list *ngIf="allUsers.length > 0" role="list">
      <mat-list-item
        (click)="goToRecapMensuelUtilisateur(user.firebaseUid)"
        *ngFor="let user of allUsers; let index = index"
        class="mat-list-item-base"
        role="listitem"
      >
        John Doe {{ index }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
