<div class="containerProducts">
  <div class="listProducts" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="1rem">
    <div fxFlex.lt-md="calc(50 - 1rem)" fxFlex.lt-sm="calc(100 - 1rem)" class="productCard"
      *ngFor="let product of productList$ | async">
      <mat-card>
        <mat-expansion-panel [disabled]="!product.description">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ product.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ product.description }}</p>
        </mat-expansion-panel>
        <mat-card-content class="m-card-content">Prix: {{ product.price.toFixed(2) }} € /
          {{ product.unit }}</mat-card-content>
        <mat-card-content class="toggleContainer m-card-content">
          <mat-slide-toggle (change)="updateProductAvailability(product.productId, $event)"
            [checked]="product.available" labelPosition="before">Visible
          </mat-slide-toggle>
          <mat-slide-toggle (change)="updateProductShortDelivery(product.productId, $event)"
            [checked]="product.shortDelivery" labelPosition="before">Livraison courte</mat-slide-toggle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<!-- TODO: implémenter comme pour le formulaire les accordéons par catégorie (bonus recherche?) -->