.containerProducts {
  margin: 0 1rem 2rem 1rem;
}

.listProducts {
  margin-left: 1rem;
}
div:last-of-type {
  padding-right: 1rem;
}
.productCard {
  margin-top: 1rem;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header {
  padding: 0 5px 0 0;
  font-size: 1.5rem;
  margin: 0 0 0.8rem 0;
  height: 2.5rem;
}
.mat-expansion-panel-header-title {
  color: var(--color-app-brown) !important;
}

::ng-deep .mat-expansion-panel-body {
  font-size: 1.3rem;
  padding: 0 0 0 1rem !important;
  > p {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0 0 0.8rem 0 !important;
  }
}

mat-card-content {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.toggleContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.toggleContainer :last-child {
  margin-left: 1rem;
}
