@import "abstracts/variables";
@import "abstracts/mixins";

h1 {
    text-decoration: underline;
    margin-bottom: 2rem;

    @include for-tablet-landscape-up {
        margin-top: 2rem;
    }
}

mat-card {
    margin: 0 2rem 2rem 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

mat-card-content {
    margin-left: 2rem;
    margin-right: 2rem;

}

mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;

    mat-panel-title {
        color: $color-app-brown;
    }
}

.descriptionText {
    margin-left: 2rem;
}