<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Produits</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="100" fxFlex.gt-xs="40" fxFlex.gt-md="30" *ngFor="let product of productList$ | async">
    <mat-expansion-panel [disabled]="!product.description">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ product.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p class="descriptionText">{{ product.description }}</p>
    </mat-expansion-panel>
    <mat-card-content fxLayout="row" fxLayoutAlign="space-around center" class="m-card-content">
      Prix: {{ product.price.toFixed(2) }} € / {{ product.unit }}
      <mat-slide-toggle (change)="updateProductAvailability(product.productId, $event)" [checked]="product.available"
        labelPosition="before">Visible
      </mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</div>

<!-- TODO: implémenter comme pour le formulaire les accordéons par catégorie (bonus recherche?) -->