:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 3rem;
}

mat-card {
  margin: 1rem 2rem 1rem 2rem;
}

.mat-card-title {
  font-size: 1.6rem;
  color: var(--color-app-brown) !important;
}

.productElem {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#noOrder {
  min-height: 40vh;
}
