<div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div
  class="noOrder"
  fxLayout="row"
  fxLayoutAlign="center center"
  *ngIf="!loading && productsOfThDayList.length === 0"
>
  <h1>Il n'y a actuellement aucune commande.</h1>
</div>
<mat-card
  *ngIf="!loading && productsOfThDayList.length > 0"
  id="prodRecapCard"
  class="m-card"
>
  <mat-card-title
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    class="m-card-title"
  >
    <h2>Production pour {{ today | date: "EEEE d MMMM y" }}</h2>
  </mat-card-title>
  <mat-card-content>
    <app-list-recap-products
      [allUserOrdersProducts]="productsOfThDayList"
    ></app-list-recap-products>
  </mat-card-content>
</mat-card>
