:host {
  text-align: center;
}
h3 {
  margin-top: 2rem;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.imageContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#saveOrderDesktop {
  border: var(--color-app-brown) solid 1px;
  width: 700px;
  max-width: 90%;
  // content: url("../../../../assets/images/save_order_desktop.png");
  // @media (max-width: 768px) {
  //   content: url("../../../../assets/images/save_order_mobile.png");
  // }
}

#newCardProduct {
  border: var(--color-app-brown) solid 1px;
  width: 400px;
  max-width: 90%;
}

button {
  margin-bottom: 2rem;
}
