@import "abstracts/variables";

#footer {
    background-color: $color-app-brown-grey;
    border-top: solid 1px black;
    color: $color-app-light-grey;
    text-shadow: 1px 1px 0 black;

    padding-top: 1.5rem;
}

// .footer {
//     color: var(--color-app-brown);
//     padding-top: 1.5rem;
//     margin-bottom: -11rem;
//     border-top: solid 1px black;
//     background-color: var(--color-app-light-grey);
//     text-align: center;

//     @media (max-width: 768px) {
//         margin-bottom: -26.6rem;
//     }
// }

// .iconFb {
//     max-width: 2rem;
// }

// .textWithIcon {
//     vertical-align: super;
// }