@import "abstracts/variables";
@import "abstracts/mixins";

#footer {
    background-color: $color-app-brown-grey;
    border-top: solid 1px black;
    color: $color-app-light-grey;
    text-shadow: 1px 1px 0 black;
    text-align: center;

    padding-top: 1.5rem;
    width: 100%;

    margin-bottom: -23.4rem;

    @include for-tablet-landscape-up {
        margin-bottom: 0;
    }
}

.textWithIcon {
    vertical-align: top;
}

.footerLink {
    color: $color-app-light-grey;
    text-shadow: 1px 1px 0 black;
}