<h2 mat-dialog-title>Votre commande a été envoyée.<br />Merci!</h2>
<mat-dialog-content fxLayout="column wrap">
  <p>
    La boulangerie M vous remercie de votre commande. En cas d'erreur ou de
    questions, n'hésitez pas à nous contacter au 05 46 01 09 72.
  </p>
  <p>
    En espérant vous revoir très prochainement et que votre commande vous
    satifera pleinement.
  </p>
  <p fxFlexLayout="row wrap" fxLayoutAlign="flex-end center">L'équipe M</p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="center center">
  <button mat-button [mat-dialog-close]="true">Fermer</button>
</mat-dialog-actions>
