:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 3rem;
}

mat-tab-group {
  max-width: 100vw;
}

::ng-deep .mat-tab-body-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

mat-card {
  margin: 1rem 2rem 1rem 2rem;
}

.mat-card-title {
  font-size: 1.6rem;
  color: var(--color-app-brown) !important;
}

#clientName {
  font-size: 2rem;
}
.address {
  font-size: 1.4rem;
}

.productElem {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.productTitle {
  margin-top: 3rem !important;
}
//FIXME: MARCHE EN LOCAL PAS EN DEPLOY
pre {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}

#noOrder {
  min-height: 40vh;
}
