<div *ngIf="loading" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>

<mat-tab-group
[selectedIndex]="1"
  (selectedIndexChange)="getOrdersOfTheDay(daysList[$event])"
  *ngIf="!loading"
  mat-align-tabs="center"
>
  <mat-tab
    *ngFor="let days of tabsLabels; let i = index"
    [label]="tabsLabels[i] | titlecase"
  >
    <ng-template matTabContent>
      <mat-card
        *ngFor="let orderData of ordersOfThDayList"
        class="m-card orderCard"
      >
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h2>
              {{ orderData.name }}
            </h2>
            <h4>
              Livraison le
              {{ orderData.deliveryDate.toDate() | date: "EEEE d MMMM y"
              }}{{
                orderData?.deliveryTime ? " à " + orderData.deliveryTime : ""
              }}
            </h4>
          </div>
          <mat-card-subtitle
            fxLayout="row wrap"
            fxLayoutAlign="space-between center"
          >
            <div fxFlex.gt-sm="50">Tel: {{ orderData.phone }}</div>
            <div>
              Commandé le
              {{ orderData.orderDate.toDate() | date: "EEEE d MMMM y" }} à
              {{ orderData.orderDate.toDate() | date: "h:mm" }}
            </div>
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="orderData.email">
            <div>Email: {{ orderData.email }}</div>
          </mat-card-subtitle>
          <div *ngIf="!orderData.deliveryAddress; else mulitpleAddress">
            <h4>Adresse de livraison et facturation :</h4>
            <p>
              {{ orderData.address.street }}
            </p>
            <p>
              <span>
                {{ orderData.address.zipCode }}
              </span>
              <span>
                {{ orderData.address.city }}
              </span>
            </p>
          </div>
          <ng-template #mulitpleAddress>
            <div>
              <h4>Adresse de facturation :</h4>
              <p>{{ orderData.address.street }}</p>
              <p>
                <span>
                  {{ orderData.address.zipCode }}
                </span>
                <span>
                  {{ orderData.address.city }}
                </span>
              </p>
            </div>
            <div>
              <h4>Adresse de livraison :</h4>
              <p>{{ orderData.deliveryAddress.street }}</p>
              <p>
                <span>
                  {{ orderData.deliveryAddress.zipCode }}
                </span>
                <span>
                  {{ orderData.deliveryAddress.city }}
                </span>
              </p>
            </div>
          </ng-template>
          <h3 *ngIf="orderData.orderComment">Commentaires</h3>
          <div *ngIf="orderData.orderComment">
            <pre>{{ orderData.orderComment }}</pre>
          </div>
          <h3>Produits</h3>
          <ul>
            <li *ngFor="let elem of orderData.order">
              {{ elem?.product }} :
              {{ elem?.quantity }}
              {{
                elem.unit === PRODUCTUNIT.KG
                  ? PRODUCTUNITWORDING.KG
                  : PRODUCTUNITWORDING.UNIT
              }}<span *ngIf="elem && elem.quantity && elem.quantity > 1"
                >s</span
              >
              <span *ngIf="elem && elem.isSliced">&nbsp;/&nbsp;Tranché</span>
              <span *ngIf="elem && elem.comment"
                >&nbsp;/&nbsp;Commentaire&nbsp;:&nbsp;{{ elem.comment }}</span
              >
            </li>
          </ul>
          <h3 fxLayoutAlign="flex-end">
            Prix total: {{ orderData?.totalPrice?.toFixed(2) }} € H.T.
          </h3>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-tab>
</mat-tab-group>
