.nav-tabs {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: var(--color-app-light-grey) !important;
}

.nav-link {
    color: var(--color-app-brown-grey);
    margin-top: 1px;
    &:hover {
        cursor: pointer;
        border-top: solid 1px var(--color-app-brown);
        border-right: solid 1px var(--color-app-brown);
        border-left: solid 1px var(--color-app-brown);
        border-bottom: solid 1px var(--color-app-light-grey);
    }

    &.active {
        color: var(--color-app-brown);
        background-color: var(--color-app-light-grey) !important;
        font-weight: 500;
        border-top: solid 1px var(--color-app-brown);
        border-right: solid 1px var(--color-app-brown);
        border-left: solid 1px var(--color-app-brown);
        border-bottom: solid 1px var(--color-app-light-grey);
    }

    &:not(.active) {
        border-bottom: solid 1px var(--color-app-brown);
    }
}
