@import "abstracts/mixins";
@import "abstracts/variables";

// TODO: style global en utilisant MAT LIST UL LI (repasser partout ou il y a des listes pour refacto
ul {
    padding-left: 2rem;
}

:host ::ng-deep .mat-tab-header {
    // FIXME: LE MENU MOBILE EST PETE SUR CETTE PAGE. CONFLIT DE POSITION sticky?
    top: 6rem;
    padding-top: 4rem;
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
    /* macOS/iOS Safari */
    background-color: $color-app-light-grey;

    @include for-tablet-landscape-up {
        top: 14rem;
        padding-top: 0;
        margin-top: 3rem;
    }
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background: $color-app-brown;
}

mat-card {
    @include for-tablet-landscape-up {
        margin-top: 2.5rem;
    }

    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}