<app-card>
  <div card-header>
    <h4 class="text-center">Quels jours fermer?</h4>
  </div>
  <div card-body>
    <p>Rappel : Les dimanches de XXX à XXX sont déjà automatiquement fermés, il n'y a pas besoin de les rajouter.</p>
    <div [formGroup]="closedDaysForm">
      <label for="start">Jour de début de fermeture</label>
      <input type="date" id="start" name="startingDate" min="{{calendarSartingDay}}" formControlName="startingDate">
      <label for="end">Dernier jour de fermeture</label>
      <input type="date" id="end" name="endingDate" min="{{closedDaysForm.value.startingDate}}"
        formControlName="endingDate">
      <button (click)="onSubmit()">
        <fa-icon [icon]="addIcon"></fa-icon>
      </button>
    </div>
  </div>
</app-card>

<app-card>
  <div card-header>
    <h4 class="text-center">Jours de fermeture à venir</h4>
  </div>
  <div card-body *ngIf="allClosingDays.length > 0; else noClosingDates">
    <ul class="list-group" *ngFor="let dates of allClosingDays" role="list">
      <div class="d-flex flex-row justify-content-center">
        <li class="list-group-item col-10 col-md-4" role="listitem"
          *ngIf="dates.endingDate !== dates.startingDate && dates.endingDate !== null; else oneDayClosing">
          - Du {{ dates.startingDate | date: "fullDate" }} au
          {{ dates.endingDate | date: "fullDate" }}
        </li>
        <ng-template #oneDayClosing>
          <li class="list-group-item col-10 col-md-4" role="listitem">
            - Le {{ dates.startingDate | date: "fullDate" }}
          </li>
        </ng-template>
        <button class="col-2 col-md-1" aria-label="Supprimer les jours de fermeture"
          (click)="deleteClosingDays(dates.rangeId)">
          <fa-icon [icon]="trashIcon"></fa-icon>
        </button>
      </div>
    </ul>
  </div>
  <ng-template #noClosingDates>
    <h3>Aucun jours de fermeture prévus</h3>
  </ng-template>
</app-card>