<mat-card fxFlex="87" class="m-card">
  <mat-card-title fxLayout="row wrap" fxLayoutAlign="center center" class="m-card-title">
    <div>Quels jours fermer?</div>
  </mat-card-title>
  <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
    <mat-form-field appearance="outline">
      <mat-label>Sélectionner une période</mat-label>
      <mat-date-range-input [formGroup]="closedDaysForm" [rangePicker]="picker">
        <input required formControlName="startingDate" matStartDate placeholder="Date de début" />
        <input required formControlName="endingDate" matEndDate placeholder="Date de fin" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="
          closedDaysForm.controls.startingDate.hasError('matStartDateInvalid')
        ">Invalid start date
      </mat-error>
      <mat-error *ngIf="
          closedDaysForm.controls.startingDate.hasError('matEndDateInvalid')
        ">Invalid end date
      </mat-error>
    </mat-form-field>
    <button mat-fab aria-label="Bouton de validation de choix de jours fermés" (click)="onSubmit()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<mat-card fxFlex="87" class="m-card">
  <mat-card-title fxLayout="row wrap" fxLayoutAlign="center center" class="m-card-title">
    <div>Jours de fermeture à venir</div>
  </mat-card-title>
  <mat-card-content fxLayout="column wrap" fxLayoutAlign="space-around center">
    <mat-list *ngIf="allClosingDaysToHuman.length > 0; else noClosingDates" role="list">
      <mat-list-item role="listitem" *ngFor="let dates of allClosingDaysToHuman" fxLayout="row wrap"
        fxLayoutAlign="space-around center">
        <p class="closedDayListElem" *ngIf="dates.endingDate; else oneDayClosing">
          - Du {{ dates.startingDate | date: "fullDate" }} au
          {{ dates.endingDate | date: "fullDate" }}
        </p>
        <ng-template #oneDayClosing>
          <p class="closedDayListElem">
            - Le {{ dates.startingDate | date: "fullDate" }}
          </p>
        </ng-template>
        <button mat-mini-fab color="warn" aria-label="Supprimer les jours de fermeture"
          (click)="deleteClosingDays(dates.rangeId)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <ng-template #noClosingDates>
      <h3>Aucun jours de fermeture prévus</h3>
    </ng-template>
  </mat-card-content>
</mat-card>

<!-- TODO: REVOIR COMPLETEMENT LE STYLE CEST DEGEULASSE PUTAIN -->