.errorMessage {
  color: crimson;
  text-align: center;
}

button {
  margin-bottom: 2rem;
}

// link style
:hover .redirectLink {
  cursor: pointer;
}

.redirectLink {
  color: var(--color-app-brown);
  margin-bottom: 1rem;
}