:host {
  text-align: center;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
}

// TODO: voir le style après implémentation du formulaire pour créer une modale (sauf si c'est juste un toast, dans ce cas, finaliser)
// TODO: refacto pour utiliser que cette modale partout
button {
  margin-bottom: 2rem;
}