<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content fxLayout="column">
  <div [innerHtml]="data.bodyText.replace('\n', '<br/>')"></div>
  <p fxLayoutAlign="flex-end center">L'équipe M</p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="space-around center">
  <button
    *ngIf="!!data.extraCloseButton"
    [mat-dialog-close]="true"
    fxFlex="100"
    mat-button
  >
    {{ data.extraCloseButtonText ? this.data.extraCloseButtonText : "Fermer" }}
  </button>
  <button
    (click)="buttonAction()"
    [ngClass]="data.buttonColor === 'warning' ? 'warning-button' : ''"
    fxFlex="100"
    mat-button
  >
    {{ data.buttonText ? this.data.buttonText : "Fermer" }}
  </button>
</mat-dialog-actions>
