/* You can add global styles to this file, and also import other style files */
:root {
  --color-app-brown: #af762f;
  --color-app-light-brown: #f5cf8e;
  --color-app-light-grey: #f9f7f8;
  --color-app-grey: #dfd9dd;
  --color-app-brown-grey: #bea28c;
}

html,
body {
  font-size: 10px;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-app-grey);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
// Toggle custom style
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--color-app-light-brown);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--color-app-brown);
}
// Checkbox custom style
.mat-checkbox-inner-container {
  border-radius: 2px;
  background-color: white;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--color-app-brown);
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: var(--color-app-brown);
}
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: var(--color-app-brown);
}

// Button custom style
.mat-button-base {
  background-color: var(--color-app-light-brown);
  color: var(--color-app-brown);
}
.mat-button-base:hover {
  background-color: var(--color-app-brown);
  color: var(--color-app-light-brown);
  transition: background 0.8s;
}

// Calendar custom style
.mat-calendar-controls {
  .mat-button-base {
    background-color: white;
    color: rgba(0, 0, 0, 0.54);
  }
  .mat-button-base:hover {
    background-color: white;
    color: var(--color-app-light-brown);
    transition: background 0.8s;
  }
}
.mat-calendar-body-cell-content:hover {
  color: var(--color-app-brown) !important;
}
.mat-calendar-body-selected {
  background-color: var(--color-app-light-brown);
  color: var(--color-app-brown);
}
