/* You can add global styles to this file, and also import other style files */
:root {
  --color-app-brown: #af762f;
  --color-app-light-brown: #f5cf8e;
  --color-app-light-grey: #f9f7f8;
  --color-app-grey: #dfd9dd;
  --color-app-brown-grey: #bea28c;
}

html,
body {
  font-size: 10px;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-app-grey);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--color-app-light-brown);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--color-app-brown);
}
