/* You can add global styles to this file, and also import other style files */

html,
body {
  font-size: 10px;
  height: 100%;
}
body {
  display: flex;
  flex: 1;
  width: 100vw;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ecf0f1;
}
