@import "abstracts/mixins";

h2 {
    margin-bottom: 3rem;

    @include for-tablet-landscape-up {
        margin-top: 3rem;
    }
}

.logoRegisterForm {
    width: 22rem;
}

#welcomeContainer {
    @media (min-width: 768px) {
        margin-right: 7rem;
    }
}

.welcomeText {
    text-align: center;
}

#submitRegistrationButton {
    margin-bottom: 2rem;
}

mat-divider {
    margin-bottom: 2rem;
}