<mat-toolbar-row class="header" fxLayout="row wrap" fxLayoutAlign="flex-start center"
    fxLayoutAlign.lt-sm="center center">
    <div fxFlex="20" fxHide.lt-sm (click)="router.navigate([''])">
        <img alt="logo boulangerie-m" src="../assets/images/logo-header.png" class="logo-header link" />
    </div>
    <div *ngIf="!menuElements.length" fxFlex="60" fxHide.lt-sm>
        Plateforme de commande réservée aux professionnels
    </div>
    <div *ngIf="menuElements.length" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxFlex="80" fxHide.lt-sm>
        <div *ngFor="let menuElem of menuElements">
            <div class="link" (click)="router.navigate([menuElem.path])">{{menuElem.wording}}</div>
        </div>
        <div class="link logoutHeader" fxLayoutAlign="center center" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Se déconnecter</span>
        </div>
    </div>
    <!-- TODO: revoir les divs avec du nav si possible -->
    <!-- Mobile menu -------------------------------------------->
    <div *ngIf="menuElements.length" fxHide.gt-xs fxFlex.lt-sm="10"></div>
    <div fxHide.gt-xs fxFlex.lt-sm="80" (click)="router.navigate([''])">
        <img alt="logo boulangerie-m" src="../assets/images/logo-header.png" class="logo-header link" />
    </div>
    <button *ngIf="menuElements.length" class="mobileMenuButton" fxHide.gt-xs fxFlex.lt-sm="10" mat-icon-button
        [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="after">
        <div *ngFor="let menuElem of menuElements">
            <button mat-menu-item (click)="router.navigate([menuElem.path])">
                <mat-icon>{{menuElem.icon}}</mat-icon>
                <span>{{menuElem.wording}}</span>
            </button>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Se déconnecter</span>
        </button>
    </mat-menu>
</mat-toolbar-row>